<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>抓取博客首页信息</title>
    <style>
        html,body{margin: 0;padding:0;}
        *{font-family: "微软雅黑";}
        .wrap{width: 100%;overflow: hidden;padding-bottom: 50px;padding-top: 30px;}
        ul, li {
            margin: 0;
            padding: 0;
            list-style-type: none !important;
        }
        .w-title{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 30px;
            background-color: #FFF;
            z-index: 1000;
            border-bottom: 1px solid #000;
            margin: 0;
        }
        .wt-c{
            display: block;
            margin:0 10px;
        }
        .w-title a:hover{
            color: #F86143;
        }

        .mb-nav{
            margin-bottom: 30px;
        }
        .mb-blog-name {
            display: block;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }
        .mb-item,.no-data{
            padding-left: 20px;
            -webkit-transition: background-color .3s;
            transition: background-color .3s;
        }
        .mb-item:hover{
            background-color: #f86143;
        }

        a{
            outline: none;
            color: #333;
            text-decoration: none !important;
        }

        .mb-item a {
            display: block;
            margin-right: 20px;
            line-height: 30px;
            -webkit-transition: -webkit-transform .3s;
            -webkit-transform: translate(0px, 0);
            transition: transform .3s;
            transform: translate(0px, 0);
        }

        .mb-item a:hover {
            color: #fff;
            -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
        }

        .blog-time {
            font-size: 13px;
            float: right;
        }
    </style>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>
        if(!window.jQuery){document.write('<script src="/public/jquery-2.1.1.min.js"><\/script>');}
    </script>
    <script>
        var sort = {};
//        将dom按后台source的顺序放好
        function loadHtml(number , id ,  html){
            var $dom;

            for(var k in sort){
                if(number < k){
                    $dom = sort[k];
                    break;
                }
            }

            if(!$dom){
                $(".wrap").append(html);
            }else {
                $dom.before(html);
            }

            sort[number] = $("#"+id);
        }
    </script>
</head>
<body>
<p class="w-title">
    <span class="wt-c">
        抓取到以下博客首页数据：
        <%for(var j=0;j<data.length;j++){%>
        <a href="#<%= data[j]%>"><%= data[j]%></a>&nbsp;&nbsp;
        <%}%>
        (若无数据说明请求失败)
    </span>
</p>
<div class="wrap">
    <!--<script>-->
        <!--$(".wrap").on('click' , 'a' , function(){-->

        <!--})-->
    <!--</script>-->